* {
   box-sizing: border-box;
}
body {
   font-family: "Roboto", sans-serif;
   font-weight: 400;
}
.header {
   display: flex;
   align-items: center;
   justify-content: space-between;
   height: 104px;
   padding-left: 34px;
   border-bottom: 1px solid #d4d4d4;
}
.header-logo {
   display: flex;
   align-items: center;
   justify-content: space-between;
   height: 100%;
}
.header-logo:after {
   content: "";
   display: inline-block;
   width: 1px;
   height: 100%;
   background-color: #d4d4d4;
   margin-left: 34px;
}
.logo {
   width: 68px;
}

.search-input {
   background-image: url(../img/search-icon.svg);
   background-repeat: no-repeat;
   background-position: center left;
   border: none;
   padding-left: 38px;
   font-style: normal;
   font-weight: normal;
   font-size: 18px;
   line-height: 21px;
   color: #a5a5a5;
   margin-left: 34px;
   outline: 1px blue;
}
.navigation {
   margin-right: 44px;
   margin-left: auto;
}
.navigation-link {
   position: relative;
   text-decoration: none;
   font-style: normal;
   font-weight: normal;
   font-size: 18px;
   line-height: 21px;
   color: #363636;
   margin-right: 18px;
}
.navigation-link:after {
   content: "";
   position: absolute;
   bottom: 0;
   left: 0;
   width: 100%;
   height: 1px;
   background-color: black;
   transform: scaleX(0);
   transition: transform 0.2s;
}
.navigation-link:hover:after {
   transform: scaleX(1);
}
.navigation-link:last-child {
   margin-right: 0;
}
.button-group {
   display: flex;
   align-items: center;
   height: 100%;
}
.button {
   height: 100%;
   font-size: 18px;
   line-height: 21px;
   border: none;
   cursor: pointer;
   outline: none;
}
.sign-up {
   color: #5671f6;
   padding: 0 34px;
   background-color: #fff;
   border-left: 1px solid #d4d4d4;
}
.login {
   background: #5671f6;
   color: #ffffff;
   padding: 0 50px;
}
