* {
   box-sizing: border-box;
}
body {
   font-family: "Roboto", sans-serif;
   font-weight: 400;
   color: #363636;
}
.header {
   display: flex;
   align-items: center;
   justify-content: space-between;
   height: 104px;
   padding-left: 34px;
   border-bottom: 1px solid #d4d4d4;
}
.header-logo {
   display: flex;
   align-items: center;
   justify-content: space-between;
   height: 100%;
}
.header-logo:after {
   content: "";
   display: inline-block;
   width: 1px;
   height: 100%;
   background-color: #d4d4d4;
   margin-left: 34px;
}
.logo {
   width: 68px;
}

.search-input {
   background-image: url(../img/search-icon.svg);
   background-repeat: no-repeat;
   background-position: center left;
   border: none;
   padding-left: 38px;
   font-style: normal;
   font-weight: normal;
   font-size: 18px;
   line-height: 21px;
   color: #a5a5a5;
   margin-left: 34px;
   outline: 1px blue;
}
.navigation {
   margin-right: 44px;
   margin-left: auto;
}
.navigation-link {
   position: relative;
   text-decoration: none;
   font-style: normal;
   font-weight: normal;
   font-size: 18px;
   line-height: 21px;
   color: #363636;
   margin-right: 18px;
}
.navigation-link:after {
   content: "";
   position: absolute;
   bottom: 0;
   left: 0;
   width: 100%;
   height: 1px;
   background-color: black;
   transform: scaleX(0);
   transition: transform 0.2s;
}
.navigation-link:hover:after {
   transform: scaleX(1);
}
.navigation-link:last-child {
   margin-right: 0;
}
.button-group {
   display: flex;
   align-items: center;
   height: 100%;
}
.button {
   height: 100%;
   font-size: 18px;
   line-height: 21px;
   border: none;
   cursor: pointer;
   outline: none;
}
.sign-up {
   color: #5671f6;
   padding: 0 34px;
   background-color: #fff;
   border-left: 1px solid #d4d4d4;
}
.login {
   background: #5671f6;
   color: #ffffff;
   padding: 0 50px;
}
.m-menu-button {
   display: flex;
   align-items: center;
   justify-content: center;
   flex-direction: column;
   width: 20px;
   height: 20px;
}
.menu-line {
   height: 2px;
   width: 16px;
   border-radius: 40px;
   background-color: black;
   margin-top: 2px;
   margin-bottom: 2px;
}
.film {
   padding-top: 80px;
   padding-bottom: 80px;
   border-bottom: 1px solid #d4d4d4;
}
.container {
   max-width: 1130px;
   margin: auto;
}
.film-wrapper {
   display: flex;
}
.film-trailer {
   display: flex;
   flex-direction: column;
   margin-right: 60px;
}
.poster {
   border-top-right-radius: 5px;
   border-top-left-radius: 5px;
   width: 358px;
}
.trailer-button {
   display: flex;
   align-items: center;
   justify-content: center;
   background-color: #fff;
   border: 1px solid #d4d4d4;
   border-radius: 0px 0px 5px 5px;
   padding-top: 25px;
   padding-bottom: 25px;
   cursor: pointer;
}
.trailer-button-icon {
   margin-right: 14px;
}

.film-title {
   font-weight: 900;
   font-size: 36px;
   line-height: 42px;
   margin-top: 0;
   margin-bottom: 16px;
}
.film-subtitle {
   display: block;
   margin-bottom: 32px;
   font-weight: normal;
   font-size: 18px;
   line-height: 21px;
   color: #a5a5a5;
}
.film-description {
   font-weight: normal;
   font-size: 14px;
   line-height: 150%;
   color: #000000;
   max-width: 514px;
   margin: 0 0 50px 0;
}
.about-film {
   display: flex;
   margin-bottom: 50px;
}
.left-side {
   margin-right: 40px;
   vertical-align: top;
}
.about-text {
   display: block;
   font-size: 16px;
   line-height: 19px;
   margin-bottom: 16px;
}
.about-text-bold {
   display: inline-block;
   width: 100px;
   margin-right: 10px;
}
.about-text-regular {
   display: inline-block;
}
.rating {
   display: flex;
   align-items: center;
}
.rating-counter {
   padding: 34px 24px;
   border: 1px solid #5671f6;
   border-radius: 10px;
   font-weight: bold;
   font-size: 28px;
   line-height: 33px;
   color: #5671f6;
   margin-right: 28px;
}

.rating-title {
   font-weight: bold;
   font-size: 18px;
   line-height: 21px;
   margin-top: 0;
   margin-bottom: 13px;
}
.rating-text {
   display: block;
   font-size: 16px;
   line-height: 19px;
   margin-bottom: 7px;
}
.rating-text-bold {
   font-weight: bold;
}
.cast {
   padding-top: 70px;
   padding-bottom: 100px;
}
.tabs {
   display: flex;
   align-items: center;
   margin-bottom: 60px;
}
.section-title {
   font-weight: normal;
   font-size: 24px;
   line-height: 28px;
   color: #a5a5a5;
   margin-top: 0;
   margin-right: 30px;
   margin-bottom: 0;
}
.section-title.active {
   font-weight: 900;
   font-size: 24px;
   line-height: 28px;
   color: #363636;
}
.tabs-content {
   display: flex;
   align-items: center;
   flex-wrap: wrap;
}
.card {
   display: flex;
   align-items: center;
   flex-basis: 25%;
   margin-bottom: 35px;
}
.card-image {
   width: 100px;
   height: 100px;
   object-fit: cover;
   border-radius: 50%;
   margin-right: 20px;
}
.card-text {
   font-size: 16px;
   line-height: 19px;
}
.name {
   color: #5671f6;
   margin-top: 0;
   margin-bottom: 6px;
}
.en-name {
   color: #a5a5a5;
}
.news {
   background: #f3f3f3;
   padding: 70px 0 100px 0;
}
.section-news-title {
   font-weight: 900;
   font-size: 24px;
   line-height: 28px;
   color: #000000;
   margin-top: 0;
   margin-bottom: 65px;
}
.news-cards {
   display: flex;
   flex-wrap: wrap;
}
.news-card {
   flex-basis: 25%;
   padding: 30px;
   max-width: 260px;
   margin-right: 30px;
   background: #ffffff;
   border-radius: 5px;
}
.news-card:last-child {
   margin-right: 0;
}
.news-date {
   display: block;
   font-size: 14px;
   line-height: 16px;
   color: #000000;
   margin-bottom: 14px;
}
.news-title {
   margin: 0 0;
   font-weight: 900;
   font-size: 14px;
   line-height: 16px;
   color: #000000;
}
@media (max-width: 1200px) {
   .container {
      max-width: 960px;
   }
   .card-image {
      width: 70px;
      height: 70px;
   }
   .header {
      height: 90px;
      padding-left: 20px;
   }
   .sign-up {
      padding: 0 20px;
   }
   .navigation {
      margin-right: 20px;
   }
   .search-input {
      margin-left: 20px;
   }
   .navigation-link {
      margin-right: 10px;
   }

   .header-logo:after {
      margin-left: 20px;
   }
}
@media (max-width: 991px) {
   .container {
      max-width: 760px;
   }
   .navigation {
      display: none;
   }
   .search-input {
      margin-right: auto;
   }
   .film-title {
      font-size: 24px;
      line-height: 1.4;
   }
   .film-subtitle {
      margin-bottom: 20px;
   }
   .film-description,
   .about-film {
      margin-bottom: 30px;
   }
   .about-text-bold {
      display: block;
      margin-bottom: 10px;
   }
   .card-image {
      width: 100px;
      height: 100px;
   }
   .card {
      flex-basis: 50%;
   }
   .news-card {
      flex-basis: 50%;
      width: 100%;
      margin-bottom: 30px;
   }
}
@media (max-width: 768px) {
   .container {
      max-width: 560px;
   }
   .header {
      height: 80px;
   }
   .film {
      padding-top: 50px;
      padding-bottom: 60px;
   }
   .film-wrapper {
      flex-wrap: wrap;
   }
   .film-text {
      order: -1;
   }
   .film-trailer {
      margin-top: 30px;
   }
   .cast {
      padding-top: 50px;
      padding-bottom: 70px;
   }
   .news {
      padding-top: 50px;
      padding-bottom: 70px;
   }
   .news-cards {
      display: flex;
      justify-content: space-between;
   }
   .news-card {
      margin-right: 0;
   }
}
@media (max-width: 576px) {
   .container {
      width: 95%;
   }
   .button-group {
      display: none;
   }
   .header-logo:after {
      display: none;
   }
   .search-input {
      display: none;
   }
   .film-trailer,
   .poster {
      width: 100%;
   }
   .film-text {
      order: 1;
      margin-bottom: 0;
   }
}
